*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}
body
{
    background-color: black;
    color: aliceblue;

}
#header{
    width: 100%;
    height: 85vh;
    background-image: url(); 
    background-size: cover;
    background-position: center;
}
.container{
    padding: 2rem 8%;
}

nav{

    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 4rem;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 8px 20px;
}

nav ul li a {
    color: rgb(251, 253, 255);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: chartreuse;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 10%;
    font-size: 30px;
    display: flex;
}

.header-text h1{
    font-size: 40px;
    margin-top: 120px;
    margin-left: 75px ;
    margin-right: 80px;
}

.header-text h1 span{
    font-size: 74px;
    color: rgb(74, 188, 233);
}
.header-text a{
    text-decoration: none;
    color: rgb(239, 245, 251);
    font-size: 20px;
    padding: 7px;
    background-color: rgb(207, 9, 9);
    border-radius: 7px;
}

/* -----------------------------------------About-------------------------------------------------------- */

#about{
    padding: 80px 0;
    color: aliceblue;
    margin: 2%;
}

.about-col-1 img{
    width: 94%;
    height: 53vh;
    border-radius: 208px;
}

.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 55px;
    font-weight: 500;
    color: rgb(247, 21, 4);
    margin-bottom: 15px;
    margin-top: 22px;
    
}
.about-col-2 span{
    color: rgb(247, 243, 13);
    font-weight: 600;
    font-size: 30px;
}

.about-col-2 p{
    font-size: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: aliceblue;
    font-size: 25px;
    font-weight: 400;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(50, 243, 7);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.8s;
}
.tab-links.active-link::after{
    width: 80%;
}

.tab-containt ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-containt ul li span{
    color: rgb(204, 71, 216);
    font-size: 26px;
}
.tab-containt ul li h3{
    font-size: 12px;
}

.tab-containt{
    display: none;
}
.tab-containt.active-tab{
    display: block;
}
.tab-containt.active-tab img{
    margin: 12px;
    width: 65px;
    height: 65px;
}

/* ---------------------------------------------------Services--------------------------------------------------------- */
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: darkgray;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 12px;
}

.services-list div a{
    text-decoration: none;
    color: rgb(245, 223, 27);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: cadetblue;
    transform: translateY(-10px);
}


/* ----------------------------------------------------------------portfolio---------------------------------- */

#contact{
    padding: 4px 0;
}


/*---------------------------------------------------------------------------------------------*/

.contact iframe{
    width: 750px;
    height: 370px;
    margin: 15px;
    border-radius: 25px;
    
    
}
.contact{
    display: flex;
    margin-left: 20%;

}
footer{
    text-align: center;
    font-size: medium;
    font-weight: 300;
    padding: 17px;
    background-color: rgb(70, 76, 81);
    color: black;
}
footer.a{
    
    text-decoration: none;
    font-size: 50px;
    font-weight: 200;
}
.logo{
    display: flex;
    margin-left: 26rem;
}
.logo img{
    margin: 1rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    
}


/*-----------------------------------------small screen----------------------*/

@media only screen and (max-width:500px)
 {
    
    .container{
        padding: 5px 8%;
        margin:10px;
    }
    nav{
        margin-left: 0px;
        width: 100%;
        padding-top: 14px;
        
    }
    nav ul li{
        margin: 8px 8px;
        
    }

    nav ul{
        background-color: black;
    }



    .header-text {
        flex-direction: column-reverse;
    }
    .header-text img {
        width: 200px;
        height: 200px;
        margin: 13% 12%;
    }

    .header-text h1 {
        font-size: 24px;
        margin-top: 0px;
        margin-left: 9px;
        margin-right: 44px;
    }

    .header-text h1 span {
        font-size: 70px;
        /* color: rgb(74, 188, 233); */
    }

    .header-text a {
        text-decoration: none;
        color: rgb(241 242 242);
        font-size: 17px;
        padding: 3px;
        background-color: rgb(91 14 157);
        border-radius: 7px;
    }

    /*-----------about-------------*/

    #about {
        padding: 45px 0px;
        color: aliceblue;
        margin: -2%;
    }
    .about-col-1 img {
        width: 100%;
        height: 43vh;
        border-radius: 208px;
    }
    .about-col-1 {
        flex-basis: 100%;
    }
    .about-col-2 p {
        font-size: 18px;
    }

        /*-------------services---------*/


    #services {
        padding: 0px 0px;
    }

    
    .container center img {
        width: 250px;
        border-radius: 7%;
        height: 250px;
    }

    .services-list {
        gap: 0px;
        margin-top: 0px;
    }

    .services-list div {
        background-color: black;
        padding: 18px;
        font-size: 18px;
        font-weight: 400;
    }
    .services-list div h2 {
        margin-bottom: 12px;
    }
    .services-list div a {
        margin-top: 2px;
    }


    /*-------Conact----------*/
    #contact {
        padding: 0px 0px;
    }

    .logo {
        margin-left: 0rem;
    }
    .logo img {
        margin: 6px;
        width: 40px;
        height: 45px;
    }
    .contact iframe {
        width: 60%;
        height: 140px;
        margin: 15px;
    }
    

    
    
}